        {% for post in site.posts %}
          {% if post.category == page.category %}
            <div class="{% cycle 'even', 'odd' %} spacy">
              <div class="container big">
                <h2>
                  <a href="{{ post.url }}" class="title">{{ post.title }}</a>
                </h2>
                {% if page.category == "news" or page.category == "event" %}
                  <div class="date tiny"><i class="icon-calendar"></i> {{ post.date | date: "%d %B %Y" }}
                    {% if post.location %}
                    <i class="icon-home"></i>{{ post.location }}
                    {% endif %}
                    </div>
                {% endif %}
                <p>{{ post.content | strip_html | truncatewords: 25 }}</p>
                {% if post.author %}
                  <div class="author">By: {{ post.author }}</div>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
