<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <center>
                  <p>Managed and operated by <a href="http://sixsq.com">SixSq</a></p>
                </center>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</footer>

<!-- JS -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/jquery.isotope.js"></script>
<!-- Isotope for gallery -->
<script src="/js/jquery.prettyPhoto.js"></script>
<!-- prettyPhoto for images -->
<script src="/js/jquery.cslider.js"></script>
<!-- Parallax slider -->
<script src="/js/modernizr.custom.28468.js"></script>
<script src="/js/filter.js"></script>
<!-- Filter for support page -->
<script src="/js/cycle.js"></script>
<!-- Cycle slider -->
<script src="/js/jquery.flexslider-min.js"></script>
<!-- Flex slider -->

<script src="/js/easing.js"></script>
<!-- Easing -->
<script src="/js/custom.js"></script>