<head profile="http://www.w3.org/1999/xhtml/vocab">

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>HNX | {{ page.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <title>Helix Nebula Marketplace</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <meta name="description" content="">
      <meta name="keywords" content="">
      <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600' rel='stylesheet'
            type='text/css'>

      <!-- Stylesheets -->
      <link href="/css/bootstrap.css" rel="stylesheet">
      <link rel="stylesheet" href="/css/font-awesome.css">
      <link href="/css/prettyPhoto.css" rel="stylesheet">
      <!-- Parallax slider -->
      <link rel="stylesheet" href="/css/slider.css">
      <!-- Flexslider -->
      <link rel="stylesheet" href="/css/flexslider.css">

      <link href="/css/style.css" rel="stylesheet">

      <!-- Colors - Orange, Purple, Light Blue (lblue), Red, Green and Blue -->
      <link href="/css/lblue.css" rel="stylesheet">

      <!-- HTML5 Support for IE -->
      <!--[if lt IE 9]>
      <script src="/js/html5shim.js"></script>
      <![endif]-->

</head>
