<!-- Hero Unit -->

<div class="row center">
    <div class="col-md-12">

        <div class="bor"></div>

        <h2>Welcome to the Helix Nebula Marketplace</h2>

        <p>The Helix Nebula Initiative has been established by public and private organisations to build a multidisciplinary cloud platform for data intensive science.</p>
        <hr/>
    </div>
</div>

<!-- Hero Ends -->

<div class="container">
    <div class="row hover-block">

                <!-- Image blocks starts -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="aboutus.html">
                        <!-- Image -->
                        <img src="img/hn_pic1.png" alt=""/>
                        <!-- Content with background color Class -->
                        <div class="hover-content b-orange">
                            <h6>About</h6>
                            <p>Learn about the Helix Nebula Marketplace.</p>
                        </div>
                    </a>
                </div>


                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="http://www.helix-nebula.eu/" target="_blank">
                        <img src="img/hn_pic2.png" alt=""/>

                        <div class="hover-content b-red">
                            <h6>The Initiative</h6>
                            Learn about the public-private initiative to build a cloud platform for data intensive science.
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="contact.html">
                        <img src="img/hn_pic3.png" alt=""/>

                        <div class="hover-content b-purple">
                            <h6>Subscribe</h6>
                            Register for Helix Nebula Marketplace updates and membership.</div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="http://bb1.hnx.helix-nebula.eu">
                        <img src="img/hn_pic4.png" alt=""/>

                        <div class="hover-content b-lblue">
                            <h6>Access the Platform</h6>
                            You have your cloud credentials? Access the federated broker and start using the cloud.
                        </div>
                    </a>
                </div>
            </ul>

<!--            <div class="clearfix"></div> -->
            <!-- Image blocks ends -->
        </div>
    </div>
</div>
<p/>

<hr/>

<div class="container center">

  <h2>Seeing is believing</h2>
  <p>HNX demonstrated, during CloudScape 2015</p>
  <div class="row">
    <div class="col-md-2 hidden-xs"></div>
    <div class="col-md-8 embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RmG-UX4yA5w"></iframe>
    </div>
    <div class="col-md-2 hidden-sm"></div>
  </div>

</div>


