<!-- Header Starts -->
<header>
    <div class="container">
        <div class="row">
            <div class="hidden-xs col-md-2">
                <a href="/index.html">
                  <img class="pull-left logo-remove" src="/img/HNX_4.png"></img>
                </a>
            </div>
            <div class="col-md-8 title-text">
                <h1 class="main-header"><a href="index.html">Helix Nebula <span class="color">Marketplace</span></a></h1>
                <div class="hmeta">A Federated Cloud Services Marketplace</div>
            </div>
            <div class="hidden-xs col-md-2">
        </div>
    </div>
</header>

<!-- Navigation bar starts -->
<div id="nav" class="navbar bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <!-- Refer Bootstrap navbar doc -->

                <li><a href="/index.html">Home</a></li>
                <li><a href="/aboutus.html">About</a></li>
				        <li><a href="/news">News</a></li>
                <li><a href="/events/index.html">Events</a></li>
                <li><a href="/broker.html">Broker</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>